@import "../../../styles/index";
.footer {
  color: white;
  width: 100%;
  height: 60px;
  margin-top: auto;
  // background-color: rgb(191, 191, 191);
  background: linear-gradient(45deg, #bdb9ff, #67b8ff);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  .privacy-policy {
    font-size: 14px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    cursor: pointer;
  }
}
