@import "../../styles/index";
.top-container {
  width: 100%;
  // height: 250px;
  color: white;
  // background-color: #93d1f0;
  background: linear-gradient(45deg, #bdb9ff, #67b8ff);
  margin-bottom: 45px;
  display: inline-flex;
  @include xs {
    display: block;
  }

  .top-left-container {
    width: 50%;
    // padding: 18px;
    text-align: center;
    margin: auto;
    @include xs {
      width: 30%;
    }
  }
  .top-right-container {
    margin: auto 5% auto auto;
    width: 50%;
    font-size: 22px;
    padding-bottom: 10px;
    @include xs {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    p {
      @include xs {
        text-align: left;
      }
    }
    h2 {
      @include xs {
        text-align: center;
      }
    }
  }
}
.home {
  width: 100%;
  display: inline-flex;
  padding: auto;
  @include s {
    display: block;
  }
  .left-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    @include s {
      width: 100%;
    }
    .list-title {
      width: 95.2%;
      height: 35px;
      line-height: 35px;
      margin-bottom: 20px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px 1px #b2b2b28f;
      color: white;
      background: linear-gradient(45deg, #bdb9ff, #67b8ff);
      display: inline-flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      @include s {
        width: 100%;
      }
    }
    .blog-card-list-container {
      width: 95.2%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include s {
        width: 100%;
      }
      .child {
        width: 48%;
        @include xxs {
          width: 100%;
        }
      }
    }
  }
}
