// $breakpoints: (
//   "xs": (
//     max-width: 0,
//   ),
//   "sm": (
//     max-width: 576px,
//   ),
//   "md": (
//     max-width: 768px,
//   ),
//   "lg": (
//     max-width: 992px,
//   ),
//   "xl": (
//     max-width: 1200px,
//   ),
//   "xxl": (
//     max-width: 1400px,
//   ),
// ) !default;

$xxs: 450px; // スマホ横のブレイクポイント
@mixin xxs {
  @media (max-width: ($xxs)) {
    @content;
  }
}

$xs: 734px; // スマホ用のブレイクポイント
@mixin xs {
  @media (max-width: ($xs)) {
    @content;
  }
}
$s: 834px; // スマホ用のブレイクポイント
@mixin s {
  @media (max-width: ($s)) {
    @content;
  }
}
$m: 1024px; // i Pad用のブレイクポイント
@mixin m {
  @media (max-width: ($m)) {
    @content;
  }
}
